.env.local

# Ignore built files
/dist
/dist-spec
/src/AllPublicXML

# Ignore backup files
/clinicaltrial-backup-cache

# Ignore installed modules
/node_modules
spec/data/org.hl7.fhir.validator.jar
/src/AllPublicXML

# Ignore Instanbul coverage files
/.nyc_output
/coverage

# System Files
.DS_Store
Thumbs.db
